.characters {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.characters ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3px;
  list-style: none;
}
.characters [type="checkbox"] {
  display: none;
}
.characters label {
  background: transparent url("../images/yoda.png") 0 0 no-repeat;
  width: 250px;
  height: 250px;
  display: block;
  border-radius: 20px;
  cursor: pointer;
  border: 3px solid white;
  overflow: hidden;
  position: relative;
  color: white;
  transition: all 0.1s ease-out;
}
.characters label[for='checkbox_trooper'] {
  background-image: url("../images/trooper.png");
}
.characters label[for='checkbox_vader'] {
  background-image: url("../images/vader.png");
}
.characters label:after {
  content: attr(data-sentence);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  color: white;
  bottom: 0;
  text-align: center;
  padding: 15px;
  opacity: 0;
  transition: all 0.3s ease-out;
  font-size: 1.2em;
}
.characters label:hover:after {
  opacity: 1;
}
.characters [type="checkbox"]:checked + label {
  border-color: black;
}
